<div class="header-outer-cnt">
    <img src="../../../assets/icons/logo.png">
    <div class="right-tools">
        <div class="tools-inner-cnt">
            <mat-icon>edit</mat-icon>
            <label>Solar Design Tool</label>
        </div>
        <div class="tools-inner-cnt">
            <mat-icon>exposure</mat-icon>
            <label>String Voltage Calculator</label>
        </div>
         <div class="tools-inner-cnt">
            <label>Register</label>
        </div>
        <div class="tools-inner-cnt">
            <label>Log In</label>
        </div>
        <div class="tools-inner-cnt">
            <mat-icon> format_list_bulleted</mat-icon>
        </div>
    </div>
</div>